name: Crear y subir imagen docker
on:
  [workflow_dispatch]

jobs: 
  publish_image:
    runs_on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: construir imagen
        run: docker build -t emarcasdev/practica-actions:latest # Comando practica anterior
      - name: subir imagen a docker
        run: docker push emarcasdev/practica-actions:latest